
.main {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
}

.header-top {
    display: flex;
}

#company-logo {
    mix-blend-mode: multiply;
    width: 110px;
}

.img-placeholder {
    height: 200px;
    width: 300px;
    background-color: #013208;
}

.info-img-placeholder {
    height: 150px;
    width: 150px;
    border: solid 2px blue
