/* Global styles */

html {
    box-sizing: border-box;
}


.main {
    display: flex;
    flex-direction: column;
}

/* Header Styles */

.header {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 30px;
}

.header-top {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    
}


.header-right, .header-left {
    display: flex;
    padding: 8px;
    gap: 20px
}

.header-title {
    color: #F9FAF8;
    font-size:  48px;
    font-weight: 800;
}

.introduction {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 48px;
}

.intro-left {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
}

#signup-header {
    background-color: #3882F6;
    color: white;
    font-weight: 800;
}

#company-logo {
    mix-blend-mode: multiply;
    width: 110px;
}

#img-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 500px;
    background-color: #013208;
}

/* Info styles */

#info-title {
    text-align: center;
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 800;
    color: #1F2937;
}

.site-info {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
    gap: 30px;
}

.info {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.info-img-placeholder {
    height: 150px;
    width: 150px;
    border: solid 4px #3882F6;
    border-radius: 10px;
}

/* Quote Styles */

.quote-container {
    display: flex;
    padding: 96px;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    background-color: #E5E7EB;
    /* Top and bottom margins are 96 */
    margin: 96px 0px 96px 0px;
}

.quote {
    width 600px;
    display: flex;
    flex-direction: column;
    flex: 1
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

/* Signup Styles */



/* Tag styles */

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    padding: 5px 20px;
    border-radius: 6px;
    border: none;
}

