/* Global styles */

html {
    box-sizing: border-box;
}


.main {
    display: flex;
    flex-direction: column;
}

/* Header Styles */

.header {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

.header-top {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    
}


.header-right, .header-left {
    display: flex;
    padding: 8px;
    gap: 20px
}

.header-title {
    color: #F9FAF8;
    font-size:  48px;
    font-weight: 800;
}

.introduction {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 48px;
}

.intro-left {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
}

#company-logo {
    mix-blend-mode: multiply;
    width: 110px;
}

#img-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 500px;
    background-color: #013208;
}

/* Content styles */

.info-img-placeholder {
    height: 150px;
    width: 150px;
    border: solid 2px blue
}

/* Tag styles */

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}